/*********************
 *
 * DEFAULT STYLES
 *
 ********************/
.extra-slider,
.extra-slider .wrapper {
	position: relative;
}
.extra-slider .wrapper {
	overflow: hidden;
}
.extra-slider ul {
	display: block;
	list-style: none;
	position: relative;
}
.extra-slider li {
	display: block;
	list-style: none;
	position: absolute;
	top: 0; 
    left: 0;
}
.extra-slider li.extra-slider-first {
    position: relative;
}