/*********************
 *
 * DEFAULT STYLES
 *
 ********************/
.extra-slider,
.extra-slider .wrapper {
	position: relative;
}
.extra-slider .wrapper {
	overflow: hidden;
}
.extra-slider ul {
	display: block;
	list-style: none;
	position: relative;
}
.extra-slider.extra-slider-slide ul {
	align-content: stretch;
	display: flex;
	flex-wrap: nowrap;
}
.extra-slider-processed li {
	display: block;
	flex: 0 0 auto;
	list-style: none;
	position: relative;
}
.extra-slider-fade li,
.extra-slider-custom li,
.extra-slider-curtain li {
	position: absolute;
	top: 0;
	left: 0;
}
.extra-slider:not(.extra-slider-processed) li:first-child,
.extra-slider li.extra-slider-first {
    position: relative;
}
.extra-slider.extra-slider-curtain li {
	margin: 0;
	overflow: hidden;
	width: 100%;
}