#wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#wrapper .single-content {
	padding: 0;
} 
/* MENU */
#wrapper > .navigation {	
	margin: 50px auto 15px auto;
	width: 900px;
	max-width: 100%;
}
#wrapper > .navigation > ul {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	
	width: 100%;
}
#wrapper > .navigation li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
	
	list-style: none;
	position: relative;
	text-align: center;
}
#wrapper > .navigation li a {
	background: #FFFFFF;
	border: 1px solid transparent;
	color: #000000;
	display: block;
	margin: 0 10px;
	padding: 10px;
	padding-bottom: 9px;
	text-transform: uppercase;
	white-space: nowrap;	
}
.recent #wrapper >  .navigation li:first-child a {
	margin-left: 0;
}
.recent #wrapper > .navigation li:last-child a {
	margin-right: 0;
}
#wrapper > .navigation li a:hover {
	border: 1px solid #DDDDDD;
}
#wrapper > .navigation li a.active {
	background: #fff799;
}
/* SECTION */
.single-content {
	text-align: center;
}
.single-content h2 {
	color: #202020;
	font-size: 25px;
	font-weight: 700;
	margin-top: 35px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.single-content h3 {
	font-family: Georgia, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin-top: 8px;
}
.single-content .code {
	margin-top: 50px;
}