/*********************
 *
 * FONTS
 *
 ********************/
@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Bold-webfont.eot');
    src: url('../fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
/*********************
 *
 * RESET
 *
 ********************/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

input[type="search"],
input[type="email"],
input[type="text"] {
	-webkit-appearance: initial;
}

/* SELECTIONS */
::-moz-selection,
::selection {
	background: #000000;
	color: #FFFFFF;
	text-shadow: none;
}

/*********************
 *
 * CONTENT
 *
 ********************/
body,
html {
	height: 100%;
}
body {
	background-color: #F3F3F3;
	color: #808080;
	font-family: 'clear_sans', arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	overflow-y: scroll;
}
a {
	color: #303030;
	text-decoration: none;
}
input,
select,
textarea {
	font-family: serif;
	font-size: 16px;
	line-height: 20px;
}
/* IMG */
img {
	display: block;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
	width: auto;
}
img.inline {
	display: inline-block;
	line-height: 1;
}
.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#main-nav {
	overflow: hidden;
}
#main-nav ul {
	display: block;
	list-style: none;
	margin: 5px 0;
	text-align: center;
}
#main-nav li {
	display: inline-block;	
}
#social {
	position: absolute;
	top: 5px; 
	left: 5px;
} 
#social iframe {
	display: block;
	margin-bottom: 5px;
	vertical-align: middle;
	width: 130px;
}
#main-nav a {
	background: #FFFFFF;
	border: 1px solid transparent;
	color: #000000;
	display: block;
	font-size: 12px;
	margin: 0 1px;
	padding: 5px 10px;
	text-transform: uppercase;
	white-space: nowrap;	
}
#main-nav a:hover {
	border: 1px solid #dddddd;
}
#main-nav .current a {
	background: #fff799;
}
#main-nav .download {
	background-image: url(../img/download.png);
	background-position: 5px 7px;
	background-repeat: no-repeat;
	padding-left: 23px;
}
/* MAIN-TITLE */
#main-title {
	background: transparent url(../img/logo.png) 0 0 no-repeat;
	background-image: none, url(../img/logo.svg);
	background-size: contain;
	margin: 50px auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 275px;
	height: 49px;
}
/************
 *
 *
 * CONTENT
 *
 *
 ************/
#wrapper {
	background: transparent;
	min-height: 100%;
	margin: 0 auto;
	width: 940px;
	max-width: 100%;
}
.single-content {
	padding: 20px;
	width: 100%;
}
.single-content h2 {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.single-content a {
	color: #202020;
}
.single-content a:hover {
	color: #202020;
	background: #fff799;
}
.single-content p,
.single-content ul,
.single-content ol {
	margin-bottom: 20px;
}
.single-content li {
	list-style: none;
	margin-left: 20px;
	position: relative;
}
.totop {
	background: transparent url(../img/totop.png) top left no-repeat;
	background-image: url(../img/totop.svg), none;
	background-size: 21px 42px;
	display: block;
	float: right;
	margin-right: 30px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 22px;
	height: 21px;
}
.totop:hover {
	background-position: bottom left;
}
/************
 *
 *
 * EASY CLEARING
 *
 *
 ************/
#footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/************
 *
 *
 * FOOTER
 *
 *
 ************/
#footer {
	margin: 50px auto;
	text-align: center;
	width: 900px;
	max-width: 100%;
}
/************
 *
 *
 * RESPONSIVE
 *
 *
 ************/
@media only screen and (max-width: 950px){
	
}
@media only screen and (max-width: 650px){
	#social {
		display: none;
	}
	#main-nav li {
		display: block;
		margin: 1px 0;
	}
	#main-nav .download {
		background-image: none;
	}
}