/*********************
 *
 * DEFAULT STYLES
 *
 ********************/
.extra-slider,
.extra-slider .wrapper {
	width: 900px;
	max-width: 100%;
}
/*********************
 *
 * NAVIGATION
 *
 ********************/
.extra-slider .navigation {
	position: static;
}
.extra-slider .navigation a {
	background: #FFFFFF url(../img/arrow-left.png) center center no-repeat;
	background-size: 15px 20px;
	border: 1px solid #dddddd;
	display: block;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	overflow: hidden;
	margin-top: -35px;
	position: absolute;
	top: 50%;
	z-index: 50;
	text-indent: 100%;
	white-space: nowrap;
	width: 70px;
	height: 70px;
}
.extra-slider .navigation a:hover {
	background-color: #fff799;
}
.extra-slider .navigation .prev {
	background-image: url(../img/arrow-left.png);
	background-image: none, url(../img/arrow-left.svg);
	left: -35px;
}
.extra-slider .navigation .next {
	background-image: url(../img/arrow-right.png);
	background-image: none, url(../img/arrow-right.svg);
	right: -35px;
}
/*********************
 *
 * PAGINATION
 *
 ********************/
.extra-slider .pagination {
	margin: 0 0 0 0;
	position: absolute;
	left: 50%;
	bottom: 6px;
	text-align: center;
	z-index: 50;
	width: auto;
}
.extra-slider .pagination a {
	background: #FFFFFF;
	border: 2px solid transparent;
	color: transparent;
	display: inline-block;
	margin: 0 4px;
	text-indent: 100%;
	white-space: nowrap;
	position: relative;
	left: -50%;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.extra-slider .pagination a.active {
	background-color: #fff799;
}
.extra-slider .pagination a:hover {
	border-color: #303030;
}
/*********************
 *
 * CONTENT
 *
 ********************/
.extra-slider ul li:before {
	display: none;
}
.extra-slider li {
	position: relative;
}
.extra-slider li p {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	position: absolute;
	right: 10px;
	bottom: 5px;
	text-align: right;
}
.extra-slider li p a {
	color: #fff799;
	background: transparent;
}
.extra-slider li p a:hover {
	color: #fff799;
	background: transparent;
	text-decoration: underline;
}
/*********************
 *
 * SLIDERS
 *
 ********************/
#margin .extra-slider {
	overflow: hidden;
	width: 100%;
}
#margin > .extra-slider > .wrapper {
	overflow: visible;
}
#margin .navigation a.next,
#margin .navigation a.prev {
	left: 50%;
}
#margin .navigation a.next {
	margin-left: 415px;
}
#margin .navigation a.prev {
	margin-left: -485px;
}
#multiple .wrapper {
	width: 900px;
}
#multiple .wrapper li {
	padding: 0 5px;
	width: 300px;
	max-width: 100%;
}
#multiple p {
	display: none;
}
#automatic .loader {
	background: #fff799;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 20000;
	width: 100%;
	height: 5px;

}
/*********************
 *
 * RESPONSIVE
 *
 ********************/
@media only screen and (max-width: 960px) {
	.extra-slider .navigation a.next {
		right: 20px;
	}
	.extra-slider .navigation a.prev {
		left: 20px;
	}
	#margin .navigation a.next {
		margin-left: auto;
	}
	#margin .navigation a.prev {
		left: 20px;
		margin-left: auto;
	}
}
@media only screen and (max-width: 650px){
	.extra-slider .pagination {
		display: none;
	}
}